#product-overview{
  /*Shorthand for the background image - applies a transparent colour over the background image, #ff1b68 is a fallback colour if the image cant be loaded*/
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") left 10% bottom 70%/ cover no-repeat border-box, #ff1b68;
  /* background-image: url("images/freedom.jpg"); */
  /*Cover fills the entire container with the background image - automatically scales and/or crops the image, fills all whitespace*/
  /* background-size: cover; */
  /*Sets the initial position for images - lets us see parts of images after they are cropped, 1st value sets x-axis, 2nd value sets y-axis */
  /* background-position: left 10% bottom 20%; */
  /*Displays background image only once - can be set to repeat X amount of times*/
  /* background-repeat: no-repeat; */
  /*Background image is positioned according to border box - could also be the padding box or content box*/
  /* background-origin: border-box; */
  /*Background image extends to the edge of the border box - could also be the padding box or content box*/
  /* background-clip: border-box; */
  /*Sets the width of the background image to be 100% of the width of the viewport*/
  width: 100vw;
  /*Sets the height of the background image to be 33% of the height of the viewport*/
  height: 33vh;
  margin-top: 2.75rem;
  /*Use to see border of image*/
  /* border: 5px dashed red; */
  position: relative;
}

.section-title{
  color:#2ddf5c;
  text-align: center;
}

/*Combinator*/
#product-overview h1{
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  /*Containing element is #product-overview - this is because when using % the containing element is the closest available ancestor that has position: relative; absolute; fixed; or sticky; (i.e. does not have the default of position: static;)  */
  bottom: 5%;
  left: 3%;
}

.plan__list{
  width: 80%;
  /*Horizontally centers the <div> containing the 3 plans*/
  margin: auto;
  /*Horizontally centers the 3 plans inside the <div>*/
  text-align: center;
}

.plan{
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  /*Takes 30% of the width available provided by its parent (full available width in this case)*/
  width: 30%;
  /*Aligns content to the middle*/
  vertical-align: middle;
}

.plan--highlighted{
  background: #19b84c;
  color: white;
  /*Adds a black transparent shadow around the RECCOMMENDED box - uses the rgba() color function*/
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation{
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 4px 4px;
}

.plan__title{
  color: #0e4f1f;
}

.plan__price{
  color: #858585;
}

.plan--highlighted .plan__title{
  color: white;
}

.plan--highlighted .plan__price{
  color: #0e4f1f;
}

.plan__features{
  /*Removes bullet points from <li>*/
  list-style: none;
  /*Removes default padding & margin for <ul>*/
  padding: 0;
  margin: 0;
}

.plan__feature{
  margin: 0.5rem 0;
}

#key-features{
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title{
  color: white;
  margin: 2rem;
}

.key-feature__list{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature{
  display: inline-block;
  width: 30%;
  /*Aligns all the text to the top so that when there is a line break all the text is still aligned*/
  vertical-align: top;
}

.key-feature__image{
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  /*Creates a circle*/
  border-radius: 50%;
  /*Centres the circle horizontally - adds equal margins to the left and right to center the circle*/
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
