main{
  padding-top: 1rem;
}

.signup-title{
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.signup-form{
  padding: 1rem;
  /*Turns the sign up form into a container element for the CSS grid - all inputs are put int seperate rows*/
  display: grid;
  /*Makes every row (input field & label) to a height of 2rem*/
  grid-auto-rows: 2rem;
  /*Adds a gap of 0.5rem to each row (spaces out input fields and labels)*/
  grid-row-gap: 0.5rem;
}

.signup-form label{
  font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select{
  display: block;
  width: 100%;
}

/*Targets the checkbox and its label - targets an input that has an id that contains the word "terms"*/
.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label{
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

/*Targets input fields that are NOT a checkbox and target select fields*/
.signup-form input:not([type="check"]),
.signup-form select{
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font: inherit;
}

/*Styles the input fields and select field when user is focused on it*/
.signup-form input:focus,
.signup-form select:focus{
  outline: none;
  background: #d8f3df;
  border-color: #2ddf5c;
}

.signup-form input[type="checkbox"]{
  border: 1px solid #ccc;
  background: white;
  width: 1rem;
  height: 1rem;
  /*Removes the default styling set by the browser*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.signup-form input[type="checkbox"]:checked{
  background: #2ddf5c;
  border: #0e4f1f;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid{
  border-color: red;
  background: #faacac;
}

.signup-form button[type="submit"]{
  display: block;
}

@media (min-width: 40rem){
  .signup-form{
    margin: auto;
    width: 30rem;
    /*Creates 2 columns - the 1st one is for the labels (10rem) and the 2nd one is for the inputs (takes all available width as specified in this class)*/
    grid-template-columns: 10rem auto;
    /*Puts a distance of 1rem between each row (each input field top and bottom)*/
    grid-row-gap: 1rem;
    /*Puts a distance of 0.5rem between the label and the input (left and right of input fields and labels)*/
    grid-column-gap: 0.5rem;
  }

  .signup-form [id="title"]{
    /*Title dropdown spans across 2 columns which pushes everything down so that it does not sit on the same line*/
    grid-column: span 2;
  }

  .signup-form__checkbox{
    /*Checkbox and text spans across 2 columns which pushes sign up button onto a new line - stops check and sign up being on same line*/
    grid-column: span 2;
  }
}
